/* Style! */

/* Jayden will mostly be working with this file. */

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#BackgroundCanvas {
    background-color: #08071a;
}