/* Style! */

:root {
    --unit: 0px;
    --pixel: 0px;
    --blue: #4da6ff;
}

body {
    background-image: url("assets/BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    overflow: hidden;
    font-family: sans-serif;
}

:focus {
    outline: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.pauseBtn {
    right: var(--pixel);
    top: var(--pixel);
    position: absolute;
    width: calc(var(--pixel)*7);
    height: calc(var(--pixel)*7);
    cursor: pointer;
}

button {
    padding: 20px 30px;
    border: none;
    border-radius: 0px;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    text-align: center;
    font-size: 24px;
}

button:hover {
    background-color: #61c5ff;
    color: white;
}

.ui {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--unit);
    z-index: 4;
    position: absolute;
}

.modal {
    padding: 60px 120px;
    width: 25%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: none;
    transition-duration: 1s;
    z-index: 5;
    color: white;
    text-align: center;
}

.modalbg {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 7, 26, 0.75);
    display: none;
}

.animate-fade {
    position: relative;
    -webkit-animation-name: animatefade;
    -webkit-animation-duration: 1s;
    animation-name: animatefade;
    animation-duration: 1s
}

@-webkit-keyframes animatefade {
    from { opacity:0 } 
    to { opacity:1 }
}

@keyframes animatefade { 
    from { opacity:0 } 
    to { opacity:1 }
}

.box-container {
    position: absolute;
    z-index: 3;
    left: 0;
    top: var(--pixel);
    position: absolute;
    width: 100%;
    height: calc(var(--pixel)*7);
}

#Time {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #c47362;
    font-size: calc(var(--pixel)*7);
}

#logo {
    width: calc(var(--unit)*5);
    height: calc(var(--unit)*3);
}

#GhostCanvas {
    opacity: 0.5;
}

#splitEffect {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 0;
    height: 0;
    position: absolute;
    z-index: 7;
    border-radius: 100%;
    transition-duration: 1s;
    opacity: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#startEffect {
    position: absolute;
    z-index: 3;
    left: 0;
    top: calc(var(--unit)*-15);
    position: absolute;
    width: 100%;
    height: calc(var(--unit)*15);
    transition-duration: 1.5s;
    background-color: #08071a;
}